<div class="dane_kontaktowe">
			
		<div itemscope itemtype="http://data-vocabulary.org/Organization"> 
			<span itemprop="name"><b>Beauty Expert - Anna Sikora</b></span><br />
			<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
				<span itemprop="street-address">ul. Mikołaja Kopernika 31</span>, <br />
				<span itemprop="locality">75-425 Koszalin</span> <br />
				<span itemprop="region">woj. zachodniopomorskie</span> <br />
			</span>
			<span class="geo">
			  <span class="latitude">
				<span class="value-title" title="54.197722" ></span>
			  </span>
			  <span class="longitude">
				<span class="value-title" title="16.196398"></span>
			  </span>
			</span>
			tel.: <span itemprop="tel">517-123-876</span> <br />
			<a href="http://beautyexpert.net.pl" itemprop="url">http://beautyexpert.net.pl</a>
		</div>
		
		<a href=mailto:ania@beautyexpert.net.pl>ania@beautyexpert.net.pl</a><br />
		<a rel="author" href="https://plus.google.com/106275504993427391862?rel=author">Profil Google+</a> <br />
		Parking na stadionie Gwardii <br/>
		(niecałe 20m do salonu).<br /><br />
				
		<b>Godziny otwarcia:</b> <br />
		pn - pt 10:00 - 18:00 <br />
		sob 10:00 - 14:00
</div><br /><br />