<% title "Salon Kosmetyczny"%>

<h2>Zapraszamy serdecznie</h2>
  <div class="promocja_main"><!-- welcome.jpg-->
  <!--	
	<%= link_to(image_tag('img/promocje/promocja_2014.png', :size => "510x400", :alt => "Promocja Salonu Beauty Expert"), url_for('wchodze'), :remote => false) %>
  -->
  <%= link_to(image_tag('img/layout/welcome.jpg', :size => "510x400", :alt => "Salon Urody Beauty Expert"), url_for('tu-jestesmy'), :remote => false) %>
  </div>					